<h1 class="index-headline">Books</h1>
<table class="books-table">
	<tr>
		<th>Title</th><th>Body</th><th></th><th></th><th></th>
	</tr>
	<% @books.each do |book| %>
		<tr>
	 		<td><%= book.title %></td><td><%= book.body %></td><td><%= link_to "Show", book_path(book) %></td>
	 		<td><%= link_to "Edit", edit_book_path(book) %></td><td><%= link_to "Destroy", book_path(book), method: :delete %></td>
		</tr>
	<% end %>
</table>
<div class="new-book">
	<h4 class="new-book-headline">New book</h4>
	<div class="new-book-form">
		<%= form_for(@book) do |f| %>
			<p>Title</p>
			<%= f.text_field :title, {class: "new-title-box"} %>
			<p>Body</p>
			<%= f.text_area :body, {class: "new-body-box"} %>
			<%= f.submit "Create Book", {class: "create-btn"} %>
		<% end %>
	</div>
</div>