<div class="flash">
	<%= flash[:notice] %>
</div>
<h1 class="index-headline">Books</h1>
<table class="books-table">
	<tr>
		<th>Title</th><th>Body</th><th></th><th></th><th></th>
	</tr>
	<% @books.each do |book| %>
		<tr>
	 		<td><%= book.title %></td><td><%= book.body %></td><td><%= link_to "Show", book_path(book) %></td>
	 		<td><%= link_to "Edit", edit_book_path(book) %></td><td><%= link_to "Destroy", book_path(book), method: :delete, date: { confirm: "Are you sure?" } %></td>
		</tr>
	<% end %>
</table>
<div class="new-book">
	<h3 class="new-book-headline">New book</h3>
	
	<div class="new-book-form">
		<% if @book.errors.any? %>
			<div class="errors-messages">
				<h2>
					<%= pluralize(@book.errors.count, "error") %>
					prohibited this book from being saved:
				</h2>
				<ul>
        			<% @book.errors.full_messages.each do |message| %>
          			<li><%= message %></li>
        			<% end %>
      			</ul>
			</div>
		<% end %>
		<%= form_for(@book) do |f| %>
			<p>Title</p>
			<%= f.text_field :title, {class: "new-title-box"} %>
			<p>Body</p>
			<%= f.text_area :body, {class: "new-body-box"} %>
			<%= f.submit "Create Book", {class: "create-btn"} %>
		<% end %>
	</div>
</div>